h1 {
    color: red; /* Comments */

    background: gray;
}

.main-article {
    background: green;
} /* Target a class by using an "." */

#studio {
    background: fuchsia;
} /* Target an ID with "#" */